<header>
    <nav>
        <a href="">MyBrary</a>
        <ul>
            <li><a href="/authors/">Authors</a></li>
            <li><a href="/authors/new">Add Authos</a></li>
            
        </ul>
    </nav>
</header>